body {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

p, blockquote, li, dd, dt, td, th {
  font-family: arial, sans-serif;
  font-size: 12pt;
}

dt, dd {
  margin-bottom: 8px;
}

h1, h2, h3, h4, #banner {
  background-color: #006699;
  color: white;
  font-family: arial, sans-serif;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

h4 {
  font-size: 12pt;
}

code, pre {
  background-color: #ccffcc;
  font-size: 12pt;
  overflow: auto;
}

pre {
  margin-left: 5%;
  width: auto;
}


.button {
  background-color: #CCCCCC;
  border-style: outset;
  border-width: thin;
  color: black;
  font-family: sans-serif;
  font-size: smaller;
  font-style: normal;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
}

.code-syntax {
  font-family: "Courier", monospace;
  background-color: #FFCC66;
}

.footnote {
  display: none;
}

.highlight, .quote {
  background-color: #99ff99;
	color: black;
}

.highlight {
  font-weight: bold;
}

.input {
  text-decoration: underline;
}

.plain {
  border: none;
  text-decoration: none;
}

.quote {
  margin-left: 5%;
  margin-right: 5%;
}

.use-case {
  background-color: lightgrey;
  margin-left: 5%;
  margin-right: 5%;
}
  
#banner {
  font-size: 22pt;
  text-align: center;
}

#closing {
  font-style: italic;
}

#logo {
  background-color: white;
  text-align: center;
}
